<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #666;
      }
      .btn {
        display: inline-block;
        background-color: #167d11;
        color: #fff;
        margin-bottom: 5px;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 3px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h2>Cher/Chère curateur,</h2>
      <p>
        Dans le cadre de notre initiative fikiri, nous avons identifié une solution nécessitant une évaluation
        approfondie afin d'assurer sa pertinence et son alignement avec les Objectifs de Développement Durable (ODD).
      </p>
      <p>
        En tant qu'expert(e) dans votre domaine, nous vous invitons à examiner cette solution et à partager votre
        analyse. Votre contribution sera essentielle pour garantir une évaluation rigoureuse et objective.
      </p>
      <p>
        Vous pouvez accéder à la plateforme et soumettre votre évaluation en suivant ci-dessous. Nous vous serions
        reconnaissants de bien vouloir compléter votre évaluation.
      </p>
      <a href='{{link}}' class='btn'>Réinitialiser le mot de passe</a>
      <p>
        N'hésitez pas à nous contacter si vous avez des questions ou si vous avez besoin de précisions supplémentaires.
        Nous vous remercions par avance pour votre engagement et votre précieuse contribution.</p>
      <p>Merci,<br /> L'équipe Fikiri.</p>
    </div>
  </body>
</html>